/CommitMessage.class
/AbortMessage.class
/HashtableUpdate.class
/StartMessage.class
/RMMessage.class
/HashtableUpdate$type.class
/HashtableUpdate$UpdateType.class
/WhosPrimary.class
/ImThePrimary.class
