/Car.class
/Customer.class
/Flight.class
/Hotel.class
/Middleware.class
/RMHashtable.class
/RMInteger.class
/RMItem.class
/ReservableItem.class
/ReservedItem.class
/ResourceManagerImpl.class
/Trace.class
/TransactionManager.class
/TransactionKicker.class
/NonExistantTransactionException.class
/TemporaryHT.class
